<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Dojo Survey Index</title>
</head>
<body>
    <div id="main-content">
        <h2>Submitted Info</h2>
        <p><b>Name:</b></p> <p>@ViewBag.Name</p>
        <br>
        <p><b>Dojo Location:</b></p> <p>@ViewBag.Location</p>
        <br>
        <p><b>Favorite Language:</b></p> <p>@ViewBag.Language</p>
        <br>
        <p><b>Comment:</b></p> <p>@ViewBag.Comment</p>
        <br>
        <a href="/">Home</a>
    </div>
</body>
</html>