<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
    <div id="navbar">
        <a href="">Home</a>
        <a href="projects">Projects</a>
        <a href="contact">Contact</a>
        <h1>Welcome</h1>
    </div>

    <div>
        <img src="" alt="picture of homepage">
        <h1>I am Mikey</h1>
        <h2>I design, build and create whatever I want!</h2>
    </div>
</body>
</html>